body {
    background-color: #3c3c3c;
  }
  
h1 {
    color: #ffffbb;
  }
h3 {
    color: #ffffbb;
}

h5 {
    color: #ffffbb;
}

li {
    color: #ffffbb;
  }

a {
    text-decoration: none;
    color: #ffffbb;
}

a::after {
    text-decoration: none;
    color: #ffffbb;
}

a::before {
  text-decoration: none;
  color: #eb0f08;
}
