body {
    background-color: #3c3c3c;
}

div {
  margin-left: 40%;
  margin-top: 10%;
}
h1 {
    color: #ffffbb;
  }
h3 {
    color: #ffffbb;
}

h5 {
    color: #ffffbb;
}

ul {
  size: 14px;
  color: #ffffbb;
}

li {
    size: 14px;
    color: #ffffbb;
}

a {
    size: 14px;
    text-decoration: none;
    color: #ffffbb;
}

a::after {
    size: 14px;
    text-decoration: none;
    color: #ffffbb;
}
a::after {
    size: 14px;
    text-decoration: none;
    color: #ffffbb;
}
