body {
    background-color: #3c3c3c;
    margin-left: 20%;
    margin-top: 5%;
}

h1 {
    color: #ffffbb;
  }
h3 {
    color: #ffffbb;
}

h5 {
    color: #ffffbb;
}

ul {
  size: 20px;
  color: #ffffbb;
}

li {
    size: 20px;
    color: #ffffbb;
}

a {
    size: 20px;
    text-decoration: none;
    color: #ffffbb;
}

a::after {
    size: 20px;
    text-decoration: none;
    color: #ffffbb;
}
a::after {
    size: 20px;
    text-decoration: none;
    color: #ffffbb;
}
